@font-face {
  font-family: "Akrobat";
  font-weight: 500;
  src: url("../fonts/Akrobat-Regular-1.ttf");
}

@font-face {
  font-family: "Akrobat";
  font-weight: 700;
  src: url("../fonts/Akrobat-Bold-1.ttf");
}

@font-face {
  font-family: "Akrobat";
  font-weight: 800;
  src: url("../fonts/Akrobat-ExtraBold-1.ttf");
}

@font-face {
  font-family: "Akrobat";
  font-weight: 600;
  src: url("../fonts/Akrobat-SemiBold-1.ttf");
}

:root {
  --white: #ffffff;
  --fon: #010f29;
  --text: #e9f1ff;
  --btn-fon: #efc348;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  font-family: "Akrobat", "Arial", sans-serif;
}

* {
  box-sizing: border-box;
}

li,
ul,
a {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.container {
  width: 100%;
  max-width: 1440px;
}

/*header*/

.header {
  position: relative;
  padding: 50px 150px 0 150px;
  background-image: url("../img/bacground-header.png"),
    url("../img/Rectangle-header.png");
  background-color: var(--fon);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.button-media-428 {
  display: none;
}

.nav__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 147px;
  width: 100%;
  max-width: 631px;
}

.nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 4px;
  color: var(--white);
  text-transform: uppercase;
  cursor: pointer;
}

.header__preview {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}

.title {
  margin: 0;
  margin-bottom: 34px;
  max-width: 61%;
  font-weight: 500;
  font-size: 84px;
  line-height: 80px;
  color: var(--white);
  text-transform: uppercase;
}

.text-bold {
  font-weight: 800;
  font-size: 84px;
  line-height: 80px;
  color: var(--white);
}

.header__descr {
  position: relative;
  margin: 0;
  max-width: 34%;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: var(--white);
}

.header__btn-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 96px;
  padding: 10px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header__btn-descr {
  position: relative;
  width: 65%;
  font-weight: 800;
  font-size: 24px;
  line-height: 26px;
  color: var(--white);
}

.header__btn-descr::after {
  content: "Обучение - новый маркетинг / Обучение - новый маркетинг";
  position: absolute;
  top: -24px;
  left: 50%;
  width: 2907px;
  font-weight: 700;
  font-size: 114px;
  line-height: 70px;
  color: var(--white);
  transform: translateX(-50%);
  opacity: 9.57%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 0;
}

.btn {
  margin-right: auto;
  padding: 14px 51px;
  border: transparent;
  border-radius: 30.5px;
  background: linear-gradient(143.05deg, #fca82d 20.13%, #efc449 85.02%);
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--fon);
  cursor: pointer;
  text-transform: uppercase;
  z-index: 100;
}

.header__media-428 {
  display: none;
}

.header__hero {
  display: flex;
  justify-content: space-between;
  padding: 38px 49px 38px 53px;
  width: 100%;
  background-image: url("../img/Rectangle.png");
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header__hero-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
}

.header__container-obj {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 43%;
}

.description-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  color: var(--white);
}

.description-box__key {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
}

.description-box__value {
  font-weight: 800;
  font-size: 20px;
  line-height: 32px;
}

.button-down {
  margin: 0;
  padding: 0;
  border-radius: 100%;
  border-color: transparent;
  width: 64px;
  height: 64px;
  background-color: transparent;
  cursor: pointer;
}

.button-down-428 {
  display: none;
}

.header__btn-428 {
  display: none;
}

/*hero*/

.main {
  background-color: var(--fon);
  background-image: url("../img/grad.png"), url("../img/Rectangle-main.png");
  background-repeat: no-repeat;
}

.hero {
  padding: 0 150px 0 150px;
}

.hero__item-box {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 74px;
  width: 100%;
  text-align: center;
}

.hero__title-box {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 50px 45px 50px;
  min-height: 329px;
}

.hero__title-box::before {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  background-image: url("../img/background-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-title {
  margin: 0;
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  color: var(--white);
  text-transform: uppercase;
  z-index: 100;
}

.logo {
  z-index: 100;
}

.hero__preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 61px 50px 0 50px;
}

.section-descr {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: var(--text);
  text-align: left;
}

.hero__link {
  width: 48%;
}

.section-link-bold {
  margin: 0;
  font-weight: 600;
}

.btn-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 250px;
}

.btn-container::after {
  position: absolute;
  left: 80px;
  content: "";
  width: 100%;
  height: 2px;
  border: 1px solid;
  border-image-source: linear-gradient(
    138.91deg,
    #0015b1 23.29%,
    #c302d5 88.99%
  );
  background: linear-gradient(138.91deg, #0015b1 23.29%, #c302d5 88.99%);
  background-image: url("../img/Rectangle-preview.png");
  opacity: 0.5;
}

/*preview*/

.preview {
  padding: 60px 51px 0 176px;
}

.preview__top-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 191px;
}

.preview__title-box {
  width: 39%;
}

.preview__img {
  position: relative;
  margin-bottom: 54px;
  width: 50%;
  min-height: 392px;
  opacity: 0.9;
}

.preview__img::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/preview-photo.png"),
    url("../img/Rectangle-preview.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.preview__title {
  margin-bottom: 65px;
  line-height: 60px;
  text-transform: uppercase;
}

.preview__descr-right {
  width: 39%;
  margin-left: 50%;
}

.preview__bottom-box {
  display: flex;
  width: 100%;
  max-width: 1213.32px;
}

.title-animation {
  margin: 0;
  margin-right: 140px;
  width: 50%;
  height: 100%;
  font-weight: 500;
  font-size: 64px;
  line-height: 60px;
  background: linear-gradient(143.05deg, #eaa853 20.13%, #984860 85.02%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
  text-align: right;
}

.title-animation-bold {
  display: block;
  font-weight: 800;
}

.preview__descr-box {
  display: flex;
  flex-direction: column;
  margin-right: 150px;
  width: 50%;
}

.preview__descr-animation {
  margin-bottom: 40px;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: var(--text);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
}

.preview__descr-animation:nth-child(1) {
  -webkit-animation: color 3s linear infinite;
  animation: color 3s linear infinite;
}

.preview__descr-animation:nth-child(2) {
  -webkit-animation: color 3s linear 0.1s infinite;
  animation: color 3s linear 0.1s infinite;
}

.preview__descr-animation:nth-child(3) {
  -webkit-animation: color 3s linear 0.2s infinite;
  animation: color 3s linear 0.2s infinite;
}

.preview__descr-animation:nth-child(4) {
  -webkit-animation: color 3s linear 0.3s infinite;
  animation: color 3s linear 0.3s infinite;
}

.preview__descr-animation:nth-child(5) {
  -webkit-animation: color 3s linear 0.4s infinite;
  animation: color 3s linear 0.4s infinite;
}

.preview__descr-animation:nth-child(6) {
  -webkit-animation: color 3s linear 0.5s infinite;
  animation: color 3s linear 0.5s infinite;
}

.preview__descr-animation:nth-child(7) {
  -webkit-animation: color 3s linear 0.6s infinite;
  animation: color 3s linear 0.6s infinite;
}

.preview__descr-animation:nth-child(8) {
  -webkit-animation: color 3s linear 0.7s infinite;
  animation: color 3s linear 0.7s infinite;
}

.preview__descr-animation:nth-child(9) {
  -webkit-animation: color 3s linear 0.8s infinite;
  animation: color 3s linear 0.8s infinite;
}

.preview__descr-animation:nth-child(10) {
  -webkit-animation: color 3s linear 0.9s infinite;
  animation: color 3s linear 0.9s infinite;
}

.preview__descr-animation:nth-child(11) {
  -webkit-animation: color 3s linear 1s infinite;
  animation: color 3s linear 1s infinite;
}

.preview__descr-animation:nth-child(12) {
  -webkit-animation: color 3s linear 1.1s infinite;
  animation: color 3s linear 1.1s infinite;
}

@-webkit-keyframes color {
  1% {
    background: linear-gradient(111.1deg, #eaa853 3.17%, #994960 63.62%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
  }

  50% {
    background: #e9f1ff;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
  }

  100% {
    background: #e9f1ff;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
  }
}

@keyframes color {
  1% {
    background: linear-gradient(111.1deg, #eaa853 3.17%, #994960 63.62%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
  }

  50% {
    background: #e9f1ff;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
  }

  100% {
    background: #e9f1ff;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
  }
}

.style-btn-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 56px;
  gap: 28px;
}

.style-btn-box::before {
  position: absolute;
  top: 50%;
  right: 63%;
  content: "";
  width: 100%;
  height: 2px;
  background: linear-gradient(138.91deg, #0015b1 23.29%, #c302d5 88.99%);
  background-image: url("../img/Rectangle-preview.png");
  transform: translateY(-50%);
  opacity: 0.5;
  z-index: 100;
}

.style-btn {
  margin-right: 0;
}

/*benefit*/

.benefit {
  padding: 0 201px 0 204px;
}

.benefit__box {
  display: flex;
  margin-bottom: 147px;
  border: 1px solid var(--white);
}

.benefit__title {
  margin-bottom: 45px;
  line-height: 60px;
}

.benefit__card {
  display: flex;
  flex-direction: column;
  padding: 49px 89px 32px 47px;
  width: 50%;
}

.benefit__card:nth-child(1) {
  border-right: 1px solid var(--white);
}

.benefit__descr {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: var(--text);
}

.benefit__link {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: var(--btn-fon);
  cursor: pointer;
}

/*step*/

.step {
  padding: 53px 250px 66px 250px;
}

.step__box-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 190px;
  gap: 20px;
}

.step__item {
  position: relative;
  border-radius: 7px;
  background-repeat: no-repeat;
  background-position: 95% bottom;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: var(--text);
}

.step__item::after {
  position: absolute;
  content: "";
  display: block;
  border-radius: 7px;
  width: 100%;
  height: 100%;
  background-image: url("../img/Rectangle-step.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.step__item-1 {
  background-image: url("../img/1.svg");
}

.step__item-2 {
  background-image: url("../img/2.svg");
}

.step__item-3 {
  background-image: url("../img/3.svg");
}

.step__item-4 {
  background-image: url("../img/4.svg");
}

.step__item-5 {
  background-image: url("../img/5.svg");
}

.step__item-6 {
  background-image: url("../img/6.svg");
}

.step__item-7 {
  background-image: url("../img/Shape.svg");
}

.step__item-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step__item-btn::after {
  position: absolute;
  content: "";
  display: block;
  border-radius: 7px;
  width: 100%;
  height: 100%;
  background-image: url("../img/Rectangle-step.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.step__item svg {
  flex-shrink: 0;
}

.step__descr {
  position: absolute;
  top: 35px;
  left: 29px;
  right: 26px;
  display: block;
  margin: 0;
}

/*prof*/

.prof {
  padding: 119px 213px 10px 215px;
}

.prof__box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 86px;
  padding: 73px 95px 42px 44px;
  border: 1px solid var(--white);
}

.prof__item {
  margin: 0;
  max-width: calc(100% / 3);
  min-height: 145px;
}

.prof__item-margin {
  margin-right: 76px;
}

.prof__item img {
  border-radius: 100%;
}

.description {
  display: block;
  margin: 0;
  max-width: 219px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: var(--white);
}

.prof__descr-bold {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: var(--white);
}

.footer-mobail-428 {
  display: none;
}

/*partners*/

.partners {
  padding: 98px 248px 139px 249px;
}

.partners__title {
  margin-bottom: 28px;
}

.item-title {
  margin: 0;
  margin-bottom: 26px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: var(--text);
  text-transform: uppercase;
}

.partners__preview-box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 45px;
  gap: 17px;
}

.partners__text {
  margin: 0;
  width: 49%;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: var(--text);
}

.partners__text-bold {
  display: block;
  margin: 0;
  font-weight: 700;
}

.last-blok {
  margin-left: auto;
}

.partners__cards-box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  gap: 19px;
}

.partners__card {
  display: flex;
  flex-direction: column;
}

.partners__card:not(:last-child) {
  width: calc((100% / 6) - 19px);
}

.partners__card:last-child {
  width: calc(100% / 5);
}

.partners__pct-box {
  position: relative;
  margin-bottom: 21px;
  border: 4px solid transparent;
  max-width: 108px;
  min-height: 108px;
  background: linear-gradient(143.05deg, #eaa853 20.13%, #984860 85.02%);
  border-radius: 100%;
  z-index: 0;
}

.partners__pct-box::before {
  display: block;
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  z-index: 100;
}

.pct-caviar:before {
  background-image: url("../img/caviar.png");
}

.pct-fertilizer::before {
  background-image: url("../img/fertilizer.png");
}

.pct-free-edu::before {
  background-image: url("../img/free-edu.png");
}

.pct-my-edu::before {
  background-image: url("../img/my-edu.png");
}

.pct-lektor::before {
  background-image: url("../img/lektor.png");
}

.pct-ok::before {
  background-image: url("../img/ok.png");
}

.pct-SMM::before {
  background-image: url("../img/SMM.png");
}

.pct-old-school-marketing::before {
  background-image: url("../img/old-school-marketing.png");
}

.pct-marketing::before {
  background-image: url("../img/marketing.png");
}

.pct-Edtechno::before {
  background-image: url("../img/Edtechno.png");
}

.pct-Edtechno::before {
  background-image: url("../img/Edtechno.png");
}

.pct-Education::before {
  background-image: url("../img/Education.png");
}

.pct-Trends::before {
  background-image: url("../img/Trends.png");
}

.pct-Babaeva::before {
  background-image: url("../img/Babaeva.png");
}

.pct-deserved::before {
  background-image: url("../img/deserved.png");
}

.pct-text-in-text::before {
  background-image: url("../img/text-in-text.png");
}

.pct-write-kasuka::before {
  background-image: url("../img/write-kasuka.png");
}

.pct-marketing-1::before {
  background-image: url("../img/marketing-1.png");
}

.pct-copy::before {
  background-image: url("../img/copy.png");
}

.pct-economy::before {
  background-image: url("../img/economy.png");
}

.partners__name {
  display: block;
  margin: 0;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--text);
}

.partners__category {
  display: block;
  margin: 0;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--text);
}

.partners__price {
  display: block;
  margin: 0;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--text);
}

.card-title {
  margin-top: 37px;
}

/*footer*/

.form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 101px 250px 108px 250px;
  background-color: var(--fon);
  background-image: url("../img/Rectangle-footer.png"),
    url("../img/bacground-footer.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
}

.form__btn {
  margin: 0;
  margin-left: auto;
}

.footer__title-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 15px;
  width: 50%;
}

.footer__input-box {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.footer__input {
  border: transparent;
  outline: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-weight: 500;
  font-size: 24px;
  color: var(--text);
}

.footer__input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 24px;
  color: var(--text);
}

.footer__input::-moz-placeholder {
  font-weight: 500;
  font-size: 24px;
  color: var(--text);
}

.footer__input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 24px;
  color: var(--text);
}

.footer__input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 24px;
  color: var(--text);
}

.footer__input::placeholder {
  font-weight: 500;
  font-size: 24px;
  color: var(--text);
}

.label-box {
  position: relative;
  padding: 0 20px;
  border-radius: 5px;
  max-width: 461px;
  height: 60px;
  background-image: url("../img/Rectangle-input.png");
}

.label-box:not(:last-child) {
  margin-bottom: 28px;
}

.label-company-box {
  position: relative;
  margin-bottom: 28px;
  padding: 0 20px;
  border: 2px solid var(--btn-fon);
  border-radius: 5px;
  background-color: transparent;
  max-width: 461px;
  height: 60px;
}

.footer-label {
  position: absolute;
  left: 20px;
  top: 50%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 500;
  font-size: 24px;
  color: var(--text);
  transform: translateY(-50%);
}

.footer__input:valid + .footer-label {
  display: none;
  opacity: 0;
}

.footer__input:focus + .footer-label {
  display: none;
  opacity: 0;
}

.footer__input:focus-visible + .footer-label {
  display: none;
  opacity: 0;
}

.modal {
  position: absolute;
  inset: 0 0 0 0;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  padding: 152px 250px 123px 250px;
  background-color: var(--fon);
  background-image: url("../img/bacground-modal.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1000;
  transition: transform 0.5s;
}

.modal--js {
  transform: scale(0);
  transition: transform 0.5s;
}

.modal__title-box {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.modal__descr-box {
  margin-top: 20px;
  width: 50%;
}

.modal__title {
  margin-bottom: 183px;
}

.modal__descr {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: var(--text);
}
